# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

parameters:
- name: ADF_NAME
  displayName: ADF Name
  type: string
  default: 'MyDevOps-QA'

- name: ADF_PUBLISH_FOLDER
  displayName: ADF Publish Folder
  type: string
  default: '000-000'

stages:
#####################
# Package the deployment files
#####################
- stage: Build
  jobs: 
  - job: JobBuild
    displayName: 'Job Build'
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    # Change branches
    - task: Bash@3
      inputs:
        targetType: 'inline'
        script: |
          git checkout adf_publish
    - task: PublishBuildArtifacts@1
      displayName: 'Deploy: Deploy-Files'
      inputs:
       PathtoPublish: '$(Build.Repository.LocalPath)/${{ parameters.ADF_PUBLISH_FOLDER }}'
       ArtifactName: Deploy-Files

#####################
# Deploy ARM Template
#####################
- stage: Deploy
  jobs:
  - job: DeployADF
    displayName: Deploy ADF
    pool:
      vmImage: 'ubuntu-latest' 
    
    steps:
    - task: AzureResourceManagerTemplateDeployment@3
      displayName: 'ARM Template deployment: Resource Group scope'
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: AzRMConnection
        subscriptionId: '94481dd1-83e3-45b6-b429-59d024a96b3f'
        action: 'Create Or Update Resource Group'
        resourceGroupName: DatalakeDemoRG
        location: 'SwitzerlandNorth'
        csmFile: '$(Pipeline.Workspace)/Deploy-Files/ARMTemplateForFactory.json'
        csmParametersFile: '$(Pipeline.Workspace)/Deploy-Files/ARMTemplateParametersForFactory.json'
        overrideParameters: '-factoryName ${{ parameters.ADF_Name }}'
        deploymentMode: 'Incremental'
